*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: auto;
}
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background:rgb(22, 21, 21);
    
}
::-webkit-scrollbar-thumb{
    background-color: azure;
    
}
.banner-principal{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: auto;
    height: auto;
    overflow: hidden;
}
a{
    text-decoration: none;
    color: white;
}
.banner-principal img{
    position: relative;
    filter: brightness(40%);
    height: 100vh;
}
header{
    background-color: black;
    position: absolute;
    display: flex;
    width: 96%;
    justify-content: space-around;
    height: auto;
    align-items: baseline;
    padding: 3vh;
    
}
.navegacao{
    display: flex;
    flex-direction: row;
    gap: 5vh;
    justify-content: space-between;
    color: white;
}
.nav{
    font-size: 25px;
}
.nav:hover{
    border-bottom: solid 4px  #b22d30;
}

.logo{
    color: white;
    font-size: 50px;
}
span{
    color:  #b22d30;
}
.txt-banner{
    position: absolute;
    color: white;
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 70vh;
    height: auto;
    padding: 3vh;
    gap: 3vh;
   
}
.txt1-banner{
    font-size: 45px;
    color: rgb(237, 161, 50);
}
.txt2-banner{
    font-size: 55px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.txt3-banner{
    font-size: 25px;
    font-family: sans-serif;
}
.txt-banner input{
    background-color: transparent;
    color: white;
    padding: 1vh;
    width: 15vh;
    height: auto;
    border-radius: 30px;
    font-size: 20px;
    background: blur(40%);
}
.txt-banner input:hover{
    background-color: rgb(237, 161, 50) ;
}
.container1{
    background-color: rgb(46, 45, 45);
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
.txt-container1{
    width: 60vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 5vh;
    height: auto;

}
.txt1-container1{
    font-size: 45px;
    color: white;
}
.txt2-container1{
    font-size: 30px;
    color:  rgb(237, 161, 50);
}
.txt3-container1{
    font-size: 20px;
    color: white;
}
.img-container1{
    width: 60vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 50vh;
    background-image: url(../img/img2-home.jpg);
    background-size: cover;
}
hr{
    width: 5vh;
}

.container2{
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-top: 5vh ;
    padding-bottom: 10vh;
}
.fotos-container2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    gap: 1vh;
    padding: 2vh;
    justify-content: center;
    margin-bottom: 3vh;
    text-align: center;
    
}
.fotos-container2 img{
    filter: brightness(70%);
}
.txt-container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    width: 40vh;
}
.foto{
    width: 49vh;
    height: 40vh;
    
}
.foto:hover{
    scale: 1.06;
}
.txt1-container2{
    text-align: center;
    color:  rgb(237, 161, 50);
    font-size: 30px;
    height: auto;
    width: auto;
    overflow: hidden;
    
}
.txt2-container2{
    text-align: center;
    font-size: 45px;
    color: white;
    height: auto;
    width: auto;
    overflow: hidden;
    
}
.container3{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
    background-color: black;
    padding-bottom: 3vh;
    height: auto;
    width: 100%;
   
}
.txt-container3{
    margin-bottom: 1vh;
    width: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
    height: auto;
}
.opcoes-cardapio{
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 2vh;
    margin-bottom: 5vh;
    padding: 3vh;
    height: auto;
}
.opcao{
    overflow: hidden;
    border-radius: 20px;
    width: 35vh;
    background-color: rgb(237, 161, 50);
    height: auto;
    text-align: center;
    padding: 1vh;
}
.opcao:hover{
     animation-name:  animacao-opcao;
     animation-fill-mode: forwards;
     animation:  animacao-opcao  2s ;
     scale: 1.06;
}
@keyframes animacao-opcao{
    
    to{
        background-color: #b22d30;
    }
}
.opcoes-cardapio img{
    padding: 2vh;
    border-radius: 50px;

}
.txt1-container3{
    font-size: 30px;
    color: white;
}
.txt2-container3{
    font-size: 25px;
    color: white;
    margin-bottom: 5vh;
}
.container4{
    padding-top: 5vh;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    background-color: rgb(22, 21, 21);
}
.txt-container4{
    
     margin-bottom: 5vh;
     display: flex;
     flex-direction: column;
     align-items: center;
    width: 35vh;
    overflow: hidden;
    height: auto;
}
.txt1-container4{
    color: #b22d30;
    font-size: 30px;
    width: 35vh;
}
.txt2-container4{
    color: white;
    font-size: 25px;
    margin-bottom: 2vh;
}
.container5{
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: auto;
    width: 100%;
    gap: 1vh;
    background-color:  #b22d30;
}
.redes-sociais{
    display: flex;
    flex-direction: row;
    gap: 2vh;
    justify-content: center;
}
.rede{
    margin-bottom: 5vh;
}
.redes-sociais img{
    width: 5vh;
    height:5vh;
}
.txt-container5{
    color: white;
    font-size: 30px;
    margin-top: 5vh;
}
footer{
    text-align: center;
    background-color: black;
    padding: 3vh;
    height: auto;

}

@media screen and (max-width:1400px){
    header{
        width: 95%;
    }
}
@media screen and (max-width:1200px){
    header{
        width: 93%;
    }
}
@media screen and (max-width:1100px){
    header{
        flex-direction: column;
        gap: 3vh;
        align-items: center;
    }
}
@media screen and (max-width:1000px){
    .txt-container1{
        width: 50vh;
    }
    .img-container1{
        width: 60vh;
        height: 50vh;
    }
    .txt2-container2{
        font-size: 35px;
    }
}
@media screen and (max-width:900px){
    header{
        width: 90%;
    }
    .txt-banner{
        width: 55vh;
    }
}
@media screen and (max-width:750px){
    
    .txt-banner{
        width: 50vh;
    }
    .txt-container1{
        width: 40vh;
    }
    .txt1-container1{
        
        padding-right: 3vh;
        font-size: 40px;
    }
    .img-container1{
        width: 50vh;
        height: 40vh;
    }
    .foto{
        width: 39vh;
        height: 35vh;
        
    }
    .container1{
        text-align: center;
        
    }
    
}
@media screen and (max-width:650px){
    .txt-banner{
        width: 35vh;
    }
    
    .navegacao{
        padding-right: 3vh;
    }
    header{
        width: 89%;
    }
    
}
@media screen and (max-width:590px){
    .nav2{
        display: none;
    }
    .navegacao{
        gap: 1vh;
       flex-direction: column;
    }
    .txt-container1{
        width: 35vh;
    }
    .img-container1{
        width: 40vh;
    }
    .txt1-banner{
        font-size: 30px;
    }
    .txt2-banner{
        font-size: 40px;
    }
    .txt3-banner{
        font-size: 20px;
    }
   
}
@media screen and (max-width:520px){
    header{
        width: 85%;
    }
}
@media screen and (max-width:500px){
    .txt-banner{
        width: 25vh;
    }
    .txt-container1{
        width: 25vh;
    }
    .img-container1{
        width: 35vh;
        height: 40vh;
    }
    .foto{
        width: 29vh;
        height: 30vh;
        
    }
    .opcao{
        width: 25vh;
    }
    .opcoes-cardapio img{
        width: 20vh;
    }
    .txt1-container1{
        font-size: 30px;
    }
    .container1{
        display: none;
    }
    
}
@media screen and (max-width:470px){
    .txt1-container2, .txt2-container2{
        width: 35vh;
    }
    .txt1-container1{
        display: none;
    }
    .logo{
        font-size: 30px;
    }
    .tx1-container4{
        font-size: 25px;
    }
    .txt2-container4{
        font-size: 20px;
    }
    .txt-container4{
        width: 20vh;
    }
    .txt1-container3{
        font-size: 20px;
    }
    .txt2-container3{
        font-size: 15px;
    }
    
    .banner-principal{
        height: 110vh;
        background-color: black;
    }
}
@media screen and (max-width:430px){
    .txt-banner{
        width: 20vh;
    }
    .txt-container1{
        width: 15vh;
    }
    .img-container1{
        width: 25vh;
        height: 30vh;
    }
    .foto{
        width: 20vh;
        height: 25vh;
    }
    .opcao{
        width: 20vh;
    }
    .opcoes-cardapio img{
        width: 15vh;
    }

    
}
@media screen and (max-width:390px){
    header{
        width: 70%;
    }
}
@media screen and (max-width:360px){
    .banner-principal{
        overflow: hidden;
    }
    .container1{
        overflow: hidden;
    }
    .container2{
        overflow: hidden;
    }
    .container3{
        overflow: hidden;
    }
    .container4{
        overflow: hidden;
    }
    .container5{
        overflow: hidden;
    }
    footer{
        overflow: hidden;
    }
    .txt-container3{
        width: 30vh;
        padding: 0;
    }
    .txt1-container2{
        width: 30vh;
        
    }
    .txt2-container2{
        width: 30vh;
    }
}
@media screen and (max-width:250px){
    .txt-container3{
        display: none;
    }
    .logo{
        display: none;
    }
    .txt-banner{
        display: none;
    }
    .txt1-banner{
        display: none;
    }
    .txt3-banner{
        display: none;
    }
    .txt1-container2, .txt2-container2{
        display: none;
    }
    .txt1-container4{
        display: none;
    }
}
@media screen and (max-height:840px){
   .txt1-container4{
    width: 20vh;
    font-size: 25px;
   }
} 
@media screen and (max-height:700px){
    .txt1-banner{
        margin-top: 8vh;
    }
    .txt2-banner{
        display: none;
    }
    .txt1-banner, .txt-banner{
        width: 40vh;
    }
 } 
 @media screen and (max-height:500px){
    .txt-banner{
        display: none;
    }
 }    
